
.sapUiLayoutCSSGrid .stylePageLayout {
    margin: 0 auto;
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
    font-size: 1rem;
    justify-items: center;
    justify-content: space-evenly;
}
.sapUiLayoutCSSGridItem {
    background-color: #3b6f9a;
    border: 1px transparent solid;
    border-radius: 5px;
    mix-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    transition: 1s;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
}

.sapUiLayoutCSSGridItem:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}

.sapUiLayoutCSSGridItem:hover {
    background-color:  #73a6cfbe;
    border: 1px white solid;
    transition: 1s;
} 
